[submodule "studyforrest-data-structural"]
	path = studyforrest-data-structural
	url = https://github.com/psychoinformatics-de/studyforrest-data-structural.git
	datalad-id = 1882e2e6-fbbf-4ade-a65f-3a1615235f51
	datalad-url = https://github.com/psychoinformatics-de/studyforrest-data-structural.git
[submodule "studyforrest-data-freesurfer"]
	path = studyforrest-data-freesurfer
	url = https://github.com/psychoinformatics-de/studyforrest-data-freesurfer
	datalad-id = 3304e775-5f5f-435a-b68e-d98c9f5fb72a
	datalad-url = https://github.com/psychoinformatics-de/studyforrest-data-freesurfer
[submodule "studyforrest-paper-speechannotation"]
	path = studyforrest-paper-speechannotation
	url = https://github.com/psychoinformatics-de/studyforrest-paper-speechannotation
	datalad-id = 8d2eaa04-71a6-11ea-aca0-bc5ff42cf5b9
	datalad-url = https://github.com/psychoinformatics-de/studyforrest-paper-speechannotation
[submodule "studyforrest-data-phase2"]
	path = studyforrest-data-phase2
	url = https://github.com/psychoinformatics-de/studyforrest-data-phase2
	datalad-id = 5eaff716-54eb-11e8-803d-a0369f7c647e
	datalad-url = https://github.com/psychoinformatics-de/studyforrest-data-phase2
[submodule "studyforrest-data-multires3t"]
	path = studyforrest-data-multires3t
	url = https://github.com/psychoinformatics-de/studyforrest-data-multires3t
	datalad-id = 5b1081d6-84d7-11e8-b00a-a0369fb55db0
	datalad-url = https://github.com/psychoinformatics-de/studyforrest-data-multires3t
[submodule "gumpdata"]
	path = gumpdata
	url = https://github.com/mih/gumpdata
	datalad-id = 0f66b1ba-e9a9-46fd-b9d9-2e64fe94d307
	datalad-url = https://github.com/mih/gumpdata
[submodule "studyforrest-data-multires7t"]
	path = studyforrest-data-multires7t
	url = https://github.com/psychoinformatics-de/studyforrest-data-multires7t
	datalad-id = 3a8648b3-7df8-413f-8efb-4d39040ac174
	datalad-url = https://github.com/psychoinformatics-de/studyforrest-data-multires7t
[submodule "studyforrest-data-visualrois"]
	path = studyforrest-data-visualrois
	url = https://github.com/psychoinformatics-de/studyforrest-data-visualrois
	datalad-id = 92e65958-4a5a-4c34-a4f4-ee070f7a123b
	datalad-url = https://github.com/psychoinformatics-de/studyforrest-data-visualrois
[submodule "studyforrest-data-retinotopy"]
	path = studyforrest-data-retinotopy
	url = https://github.com/psychoinformatics-de/studyforrest-data-retinotopy
	datalad-id = 2d05f277-94b0-470b-8e11-4e56691d5b89
	datalad-url = https://github.com/psychoinformatics-de/studyforrest-data-retinotopy
[submodule "studyforrest-data"]
	path = studyforrest-data
	url = https://github.com/psychoinformatics-de/studyforrest-data.git
	datalad-id = deabeb9b-7a37-4062-a1e0-8fcef7909609
	datalad-url = https://github.com/psychoinformatics-de/studyforrest-data.git
[submodule "ds001499"]
	path = ds001499
	url = https://github.com/OpenNeuroDatasets/ds001499.git
	datalad-id = 3e874376-b053-11e8-b9ac-0242ac130026
	datalad-url = https://github.com/OpenNeuroDatasets/ds001499.git
